@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

:root {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* html,
body {
} */

.navbar {
  background-color: #FFF7ED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  padding: 36px 26px;
}

.navbar__logo-img {
  width: 125px;
  /* flex: auto; */
}

.navbar__logo-img img {
  width: 100%;
}

nav {
  width: 116.61px;
  display: flex;
  justify-content: space-between;
}

nav>a {
  text-decoration: none;
  font-weight: 600;
  color: #4d4d4d;
}

nav>a:hover {
  text-decoration: underline;
  color: #161616;
}

.main {
  min-height: calc(100vh - 190px);
}

.home {
  background: url(./assets/image53.png) no-repeat center center fixed;
  background-size: cover;
  padding: 66px 27px;
  color: #fff;
}

.home__title {
  font-weight: 800;
  font-size: 1.10rem;
  line-height: 42px;
}

.home__content {
  margin-top: 23px;
  font-weight: 500;
}

.home__button {
  background-color: #FF8C38;
  margin-top: 52px;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-weight:600;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.home__button:hover {
  background-color: rgba(255, 140, 56, 0.95);
}

.about {
  background-color: #FFF7ED;
}

.about__hero-img {
  width: 100vw;
  padding: 0;
}
.about__hero-img img {
  width: 100%;
}

.about__content {
  padding: 48px 27px;
}

.about__content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.about__title {
  margin-bottom: 31px;
}

.about__highlight {
  margin-top: 24px;
  padding: 32px 37px;
  background-color: #FFCC8D;
  border-radius: 5px;
}

.about__highlight h3 {
  font-weight: 700;
  font-size: 24px;
  list-style: 30px;
}

.about__highlight-button {
  background-color: #161616;
  color: #fff;

  margin-top: 32px;
  width: 175px;
  padding: 15px;
  font-weight:600;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #252525;
  color: #aaaaaa;
  font-size: 14px;
}